.dialWrapper {
    width: 300px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
  }
  
  .dialNumpadHWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  
  .dialNumber {
    display: flex;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .incomingWrapper {
    width: 300px;
    position: fixed;
    z-index: 200;
    /* height: 280px; */
    background-color: #8da4f1;
    border-radius: 10px;
    box-shadow: 5px 2px 2px 4px rgb(20 17 37 / 10%);
    display: flex;
    flex-direction: column;
  }
  
  .itemWrapper {
    display: flex;
    margin: 8px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .actionButton, .declineButton {
    display: flex;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
    border-radius: 6px;
  }

  .actionButton{
    background-color: #4caf50; /* Màu xanh lá cây */
    color: #fff; /* Màu chữ trắng */
  }

  .declineButton{
    background-color: #f44336; /* Màu đỏ */
    color: #fff; /* Màu chữ trắng */
  }


  
  .dialActionButton {
    display: flex;
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: larger;
    cursor: pointer;
  }
  
  #errorMessage {
    color: red;
  }

  .floatingButtons{
    z-index: 100;
    position: fixed;
    bottom: 206px;
    left: 73%;
    transform: translate(-50%, -50%);
    width: 800px;
  }
  .floatingButtons button{
   width: 50px;
   height: 50px;
   margin: 12px 12px;
   font-size: 12px;
  }
  .floatingButton{
    margin: 0 0.5rem;
  }

  .container-video-call{
    position: relative;
    z-index: 100;
    
  }
  