#dev{
  // Lê Quang Nhật 21T_DT2
  // Nguyễn Đức Anh 21t_DT2
  margin: 0 0 ;
  color: #ffffff83;
  font-size: 10px;
  margin-left: 10px;
}
body {

  font-family:Arial, Helvetica, sans-serif
  
}

li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
ul{
  padding:0 0 ;
}



.formContainer {
    // background-image: url('./imgs/backgroud.png');
    // background-color: #FAACA8;
    // background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    background-image: url('./imgs/background2.jpg');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .formWrapper {
      background-color: #2C2F48;
      padding: 20px 60px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    //   align-items: center;
    }
    .desc-register {
        color: white;
        font-weight: bold;
        font-size: 16px;
      }
      .desc{
        color: white;
        opacity: 0.5;
      }
      .title {
        color: white;
        font-size: 20px;
        font-weight: 600;
        font-style: italic;
        line-height: 1.19;
        margin-bottom: 24px;
      }
    .input-fix{
        border-radius: 999px;
        padding: 12px;
        border: none;
        width: 350px;
        border-bottom: 1px solid #a7bcff;
          &::placeholder {
            color: rgb(175, 175, 175);
          }
    }
    .clickDangKy{
      cursor: pointer;
    }  

      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
        // input {
        //   padding: 15px;
        //   border: none;
        //   width: 250px;
        //   border-bottom: 1px solid #a7bcff;
        //   &::placeholder {
        //     color: rgb(175, 175, 175);
        //   }
        // }
.btn-register::before{
    position: absolute;
    content: "";
    display: inline-block;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 4px;
    background-color: #686979;
    border-radius: 12px;
    margin-top: 10px;
}  
        .btn-register {
        position: relative;
        margin-top: 10px;
        border-radius: 999px;
        background-color: #7b96ec;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }
  
        label {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #8da4f1;
          font-size: 12px;
          cursor: pointer;
          width: 30px;
        }
  .img-add{
    width: 32px;
  }
  .img-register{
    width: 32px;

  }
     
.home{
    display: flex;
    // background-color: #a54e82;
    // background-image: linear-gradient(225deg, #a54e82 0%, #784BA0 50%, #2B86C5 100%);
background-image: url('./imgs/background2.jpg');
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    background-color: #2C2F48;
    // padding: 20px 60px;
    border-radius: 16px;
    flex-direction: column;
    height: 500px;
    width: 920px;
    flex-direction: row;
    flex-direction: row;
}
.Menu{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 56px;
    background: url('./imgs/Menu.png');
    // align-items: center;
    justify-content: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

}
.Menu .body-menu{
  position: relative;
  background-image: url('./imgs/Bar.png');
  background-size: 46px 500px;

  height: 600px;
  width: 46px;
  margin-left: 10px;
  margin-top: 36px;

  
}
.Menu .body-menu ul li a{
  align-items: center;
  color: white;
  // font-weight: 600;
  // font-size: 1.2rem;
  // display: inline-block;
  // align-items: center;

}
.Menu .body-menu ul{
  display: flex;
  height: 200px;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  margin-top: 100px;
  margin-left: -2px;
}
.Menu .body-menu ul li{

  position: relative;
  background-image: linear-gradient(43deg,#4158D0 0%,#C850C0 46%,#FFCC70 100%) ;
  transition: transform 0.2s ease-in-out;
  z-index: 1;
  width: 32px;
  max-width: 32px;
  height: 32px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 16px;
}
.Menu .body-menu ul li::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(45deg,#FBDA61 0%,#FF5ACD 100%);
  transition: opacity 0.2s ease-in-out;
            /* border-radius: 8px; */
  border-radius: 6px;
  opacity: 0;
  z-index: -1;
}
.Menu .body-menu ul li:hover::before{
  opacity: 1;
}
.Menu .body-menu ul li:hover{
  transform: scale(1.0s);
}
.iconMenuFix{
  display: flex;
  width: 18px;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 18px;
  transition: transform 0.3s ease;
}

.Menu .body-menu ul li:hover .iconMenuFix{
  transform: scale(1.3) ;
}
.Menu .body-menu ul li:hover .addItem{
  transform: rotate(90deg);

}
.Menu .body-menu .BrButton{
  display: flex;
  margin:12px 7px;
  width: 44px;
  // margin-bottom: 50px;
  margin-left: -2px;
  margin-top: -28px;
  
}
.Menu .body-menu .Logo{
  display: flex;
  // width: 32px;
  // height: 32px;
  margin:10px 7px;
  margin-bottom: 40px;
  // padding: 12px 14px;
  color:black;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  animation: bounce 1s infinite alternate; /* Sử dụng animation bounce */
}
.Menu .footerM{
  // height: 600px;
  display: flex;
  flex-direction: column;
  width: 56px;
}
.footerM img{
  cursor: pointer;
  width: 20px;
  margin-left: 18px;
  margin-bottom: 13px;
  transition: transform 0.3s ease;
}
.footerM i{
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  // margin-left: 16px;
  margin-bottom: 16px;

  transition: transform 0.3s ease;
}

.footerM img:hover{
  transform: scale(1.2) ;
}
.footerM i:hover{
  transform: rotate(45deg) ;
color: #ffffffcc;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.icon-container:hover .Logo {
  animation: spin 0.5s infinite linear; /* Sử dụng animation spin khi hover */
}

@keyframes spin {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(1px);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}
.Navbar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 208px;
    // background-color: #2C2F48;
    // background: linear-gradient(#5d5b8d,#686979) ;
    background: linear-gradient(180deg, rgba(44, 47, 72, 0.50) 0%, rgba(44, 47, 72, 0.50) 0.01%, rgba(44, 47, 72, 0.00) 100%);
    box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.10) inset;

}
.Navbar .title-nav{
  color: white;
  font-size: 12px;
  font-weight:500;
  font-style: bold ;
  // line-height: 1.19;
  margin: 0 0;
  // margin-left: 6px;
  // margin-bottom: 5px;
  padding: 5px 5px;
  // border: 1px solid #3498db;
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.10) inset;
}
.Navbar .body-nav{
  display: flex;
  align-items: center;
  // margin: 0px 12px;
  // margin-top: 18px;
  padding: 10px 0;
  flex-direction: column;
  // height: calc(100% - 145px);
  overflow-y:scroll;
  overflow-x:hidden;
  height: 388px;
}
.Navbar .icon-nav{
  padding: 4px 0px;
  font-size: 12px;
  margin-right: 16px;
}
.Navbar .body-nav ul li{
  // margin-bottom: 24px;
  display: flex;
  list-style: none;
  cursor: pointer;
  padding: 20px 10px;
  /* border: groove 1px #5f4f4f; */
  // margin-bottom: 5px;
  height: 2px;
  width: 200px;
  // text-align: center;
  // justify-content: center;
  align-items: center;
  // background-color: aliceblue;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Navbar .body-nav ul li a{
  font-size: 15px;
  color:#fff;
  text-decoration: none;
  transition: transform 1.8s ease;
  margin-left: 20px;
}
.Navbar .body-nav ul li:hover{
  transform: scale(1.1); /* Phóng to 1.1 lần khi hover */
  box-shadow: 0 0 10px rgba(133, 97, 184, 0.5); /* Bóng viền màu đen với độ mờ 0.5 khi hover */
}

.Navbar .footerMenu{
  height: 100px;
  // bottom: 0;
  width: 208px;
  height: 90px;
}
.Navbar .footerMenu img{

  width: 208px;
  height: 50px;
  margin: 0 0;
  // padding: 20px 0;
  // margin-top: 20px;

}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footerMenu .rotating-icon {
  display: inline-block;
 margin-left: 10px;
  animation: rotate 5s linear infinite;
}
.footerMenu .rotating-icon img{
  width: 36px;
  height: 36px;
}
.search-user{
  width: 80%;
  height: 24px;
  border-radius: 6px;
  background-color: #29283b;
  border: 1px ;
  color: white;
  font-size: 12px;
}
.search-nav{
  position: relative;
  margin: 8px 4px;
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-nav .ti-search{
  color: white;
  font-size: 12px;
  margin-left: 12px;
  cursor: pointer;

}
.search-nav .ti-plus{
  color: white;
  font-size: 12px;
  margin-left: 12px;
  cursor: pointer;
}

.list-search-users{
  position: absolute;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #0b1430;
  border-radius: 5px;
  border-color: #594f99;
  gap: 5px;
  z-index: 2;
  overflow-y: scroll;
}

.search-user-item{
  background-color: white;
  width: 100%;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out,
              color 0.2s ease-in-out;
  
}

.search-user-item:hover{
  background-color: #594f99;
  color: white;
}
.nav-bodynav{
  display: flex;
  margin: 4px 12px;
  height: 30px;
}
.nav-bodynav a{
  color: white;
  font-size: 12px;
  padding: 2px 8px;
}
.nav-all{
  color: #151d37;
  border-bottom: 1px solid #858798 ;
}

.add-room-chat-form-wrapper{
  position: fixed;
  top: 38vh;
  left: 50vw;
  padding: 10px;
  z-index: 101;
  background-color: #7f4d8d;
  border-radius: 5px;
  box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.3);
  min-width: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-room-chat-form-wrapper .form-wrapper{
  width: 100%;
}

.add-room-chat-form-wrapper .form-wrapper .form-control{
  width: 100%;
  display:flex;
  flex-direction: column;
  gap:5px;
}

.add-room-chat-form-wrapper .form-wrapper .form-control .form-control-label{
  font-size: 14px;
  color: #fff;
  // background-color: #bd329a;
  width: 70%;
  font-weight: 800;
}

.add-room-chat-form-wrapper .form-wrapper .user-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 10px;
  gap: 5px;
  overflow-y: scroll;
  max-height: 100px;
}

.add-room-chat-form-wrapper .form-wrapper .user-list .user-list-item{
  padding:5px;
  background-color: white;
  border: solid 1px #0b1430;
  border-radius: 7px;
  width: 100%;
  color: #5d5b8d;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.add-room-chat-form-wrapper .form-wrapper .user-list .user-list-item:hover{
  background-color: #3e4366;
  color: white;
}



.add-room-chat-form-wrapper .form-wrapper .form-control .form-control-input{
  min-height: 20px;
  padding:4px;
  border-radius: 4px;
}

.add-room-chat-form-wrapper .form-wrapper .add-room-submit, .add-room-chat-form-wrapper .form-wrapper .button-cancel{
  padding:6px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;

}

.add-room-chat-form-wrapper .form-wrapper .add-room-submit{
  background-color: rgb(111, 20, 125);
  color: whitesmoke;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.add-room-chat-form-wrapper .form-wrapper .add-room-submit:hover{
  background-color: #594f99;
  color: bisque;
}

.add-room-chat-form-wrapper .form-wrapper .button-cancel{
  background-color: darkgrey;
  color: whitesmoke;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.add-room-chat-form-wrapper .form-wrapper .button-cancel:hover{
  background-color: #27293e;
  color: #bcbed6;
}

.add-room-chat-form-wrapper .form-wrapper .selected-user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:3px;
  border-radius: 3px;
  background-color: #492b53;
}

.add-room-chat-form-wrapper .form-wrapper .selected-user .selected-username{
  color: white;
  font-weight: 700;
}

.add-room-chat-form-wrapper .form-wrapper .selected-user .ti-close{
  background-color: white;
  padding:2px;
  border-radius: 50%;
  font-size: 9px;
  cursor: pointer;
}

.expanded-image-viewer{
  position: fixed;
  max-width: 600px;
  max-height: 600px;
  top: 15vh;
  left: 35vw;
  z-index: 99;

}

.expanded-image-viewer .expanded-image{
  width: 100%;
  max-width: 70vw;
  max-height: 70vh;

}

.download-button, .close-expanded-image-button{
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  font-weight: 700;
  cursor: pointer;
}

.download-button{
  color: whitesmoke;
  background-color: green;
}

.close-expanded-image-button{
  background-color: #492b53;
  color: whitesmoke;
}
// ------------------------Home Page ---------------------------
.HomePage{
  height: 100%;
  width: 600px;
  margin:0 auto;
  background-color: #1D203E;
  box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.10) inset;
  overflow: hidden;
  
  justify-content: center;
}
::-webkit-scrollbar{
  width: 4px;
  height: 6px;
}
::-webkit-scrollbar-thumb{
  background-color: #9e42b5;
  width: 6px;
  height: 6px;
  border-radius: 999px;
}
.HomePage .header-homepage{
  // justify-content: center;
  // align-items: center;
  text-align: center;
  width: 480px;
  margin:0 auto;
  // margin-bottom: 20px;
}
.HomePage .header-homepage .search{
  // display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin:12px 0;
  color: white;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: linear-gradient(180deg, rgba(46, 51, 90, 0.30) 0%, rgba(28, 27, 51, 0.30) 100%);
  margin: 8px 0;
  font-size: 12px;
  height: 16px;
}
.HomePage .img-header-homepage{
  border-radius: 12px;
  width: 95%;
  margin: 6px 12px;
}
.HomePage .body-homepage{
  display: flex;
  // flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
  max-height: 500px;
  height: 65%;
  width: 484px;
  align-content: center;
  // justify-content: center;
  // overflow: auto;
  padding-top: 60px;
  padding-left: 20px;
}
.HomePage .form-post{
  // display: flex;
  // position: relative;
  // background: linear-gradient(#5d5b8d,#686979) ;
  // width: 205px;
  // height: 125px;
  // margin: 16px 14px;
  // border-radius: 16px;
  // cursor: pointer;
  position: relative;
  width: 204px;
  height: 150px;
  margin-left: 50px;
  background: #695db7;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 400;
  transition: 0.9s;
  border-radius: 16px;
  margin: 8px 0;
  // margin-left: 12px;
  margin-right: 12px;
  cursor: pointer;
}
.HomePage .form-post:hover{
  background-color: #51488b;/* 1esbff */
  /* letter-spacing: 0.25em; */
  transform: scale(1.1);
  box-shadow: 0 0 20px #51488b;
}
.HomePage .form-post::before{
  // content:"";
  // position: absolute;
  // top: 0;
  // left: 0;
  // height: 0;
  // width: 8px;
  // // margin-right: 50px;
  // background: linear-gradient(#c2bcd2,#bcbed6);
  // // z-index: -1;
  // border-radius: 16px;
  // transition: height 0.4s linear,width 0.15s ease-in-out 0.5s;
  content:'';
  position: absolute;
  inset:2px;
  background: #5f626f;
  border-radius: 16px;
}
.HomePage .form-post .span{
  position: relative;
  margin: 0;
  padding: 0;
}

.HomePage .form-post .hieuung{
  position: absolute;     
  inset:0;
  display: block;   
}
.hieuung::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60px;
  height: 1px;
  background-color: #eeeff0;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.8s;
}
.HomePage .form-post:hover .hieuung::after{
  width: 60px;
  left: 80%;
}
.hieuung::before{
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  width: 60px;
  height: 1px;
  background-color: #eeeff0;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}
.HomePage .form-post:hover .hieuung::before{
  width:60px;
  left: 20%;
}
.HomePage .form-post .content-post{
  
  color: rgba(255, 255, 255, 0.87);
  font-size: 10px;
  // font-style: normal;
  font-weight: 400;
  margin: 6px 6px;

  line-height: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.HomePage .form-post .title-post{

  color: #FFF;
  margin: 8px 6px;
  // margin-top: px;
  margin-bottom: 12px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  z-index: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.HomePage .form-post .img-infopost{
  position: absolute;
  width: 204px;
  height: 150px;
  object-fit: cover;
  border-radius: 16px;
  // opacity: 0.5;
}
.HomePage .form-post .img-post{
  position: absolute;
  width: 204px;
  height: 150px;
  // padding-top: 44px;
  border-radius: 16px;
  filter: brightness(0.7);
}

.HomePage .form-post .info-post{
  position: absolute;
  padding: 12px 4px;
  width: 204px;
  height: 150px;

}
.HomePage .form-post .icon-post{
  display: flex;
  font-size: 10px;
  font-weight: 400;
  margin: 0 12px;
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.85)
}
.footer-post{
  position: absolute;
  width: 200px;
  display: flex;
  padding-top: 80px;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 12px;
}
.Subnav{
  display: block;
  height: 100%;
  width: 182px;
  background: #2C2F48;
  box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.10) inset;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}
.Subnav .header-subnav{
  display: flex;
  padding: 5px 5px;
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.10) inset;
  align-items: center;
  justify-content: flex-end;
}
.Subnav .header-subnav i{
  display: flex;
  color: white;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.8s ease;
}
.Subnav .header-subnav i:hover{
  transform: scale(1.1) ;
}
.Subnav .header-subnav img{
  display: flex;
  color: white;
  width: 24px;
  height: 24px;
  // margin-left: 144px;
  padding: 5px 5px;
  border-radius: 8px;
  background-color: #724681;
  cursor: pointer;
  transition: transform 0.8s ease;
}
.Subnav .header-subnav img:hover{
  border-radius: 4px;
  transform: scale(1.1) ;
}
.Subnav .body-subnav{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.Subnav .body-subnav .form-avatar{
  width: 120px;
  height: 120px;
  margin: 0px 28px;
  margin-top: 16px;
  // background-color: red;
  
  border-radius: 999px;
}
.Subnav .body-subnav .avatar{
  width: 100%;
  height: 120px;
  background-color: red;
  object-fit: cover;/* giữ đúng tỉ lệ của ảnh và lấp đầy khung hình*/
  border-radius: 999px;

}
.Subnav .body-subnav .ten-nguoidung{
  color: white;
  font-size: 16px;
  margin: 2px 0;
}
.Subnav .body-subnav .id-nguoidung{
  color: white;
  opacity: 50%;
  font-size: 12px;
  margin: 0 0;
}

.listfriendUser{
  background-color: rgba(255, 255, 255, 0.105);
  display: flex;
  flex-direction: row;
  width: 166px;
  height: 50px;
  // justify-content: center;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  align-items: center;
  align-content: center;
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.10) inset;
}

.listfriendUser img{
  width: 100%;
  height: 30px;
  border-radius: 999px;
  margin-left: 10px;

}

.friendUser{
  margin-top: 20px;
}
.friendUser .titleFriend{
  display: flex;
  font-size: 10px;
  opacity: 0.7;
  color: #fff;
  margin-left: 6px;
  
}
.friendUser .descFriend{
  display: flex;
  margin-left: 80px;
  font-size: 8px;
  opacity: 0.3;
  color: #fff;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.infoFriend{
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}
.avatarFriend{
  width: 30px;
  height: 30px;
  border-radius: 999px;
}
.infoFriend p{
  color:#fff;
  font-size: 10px;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  
}

.infoFriend .desc{
  display: flex;
  padding: 0;
  margin: 0;
  color:#ffffff75;
  font-size: 9px;
  margin-left: 9px;
 

}
.user-chat{
  // display: flex;
  // align-items: center;
  // // padding: 8px 12px;
  // width: 182px;
  // background-color: rgba(255, 255, 255, 0.105);
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 50px;
  // justify-content: center;
  padding: 2px 2px;
 
  margin-bottom: 5px;
  border-radius: 8px;
  align-items: center;
  align-content: center;
  transition: 0.5s ease;
  background-color: #272a40;
  // box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.10) inset;
}
.user-chat:hover{
  transform: scale(1.05);
}
.userchatinfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 150px;
  width: 100%;
}
.user-chat .chatAvatar{
  display: flex;
  flex-direction: row;
}
.user-chat .name{
  color: white;
  font-size: 16px;
  padding: 0 8px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: -8px;
}
.user-chat .chat-late{
  display: flex;
  margin: 0 0;
  max-width: 120px;
  font-size: 10px;
  opacity: 0.6;
  padding: 0 8px;
  color: #686979;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: -5px;
}
.trangThai{
  display: flex;
  margin: 0 0;
  max-width: 120px;
  font-size: 10px;
  opacity: 0.6;
  // padding: 0 8px;
}
.form-avatarnav{
  width: 36px;
  height: 36px;
  margin: 0px 4px;

  border-radius: 999px;
}
.avatar-navchat{
  width: 100%;
  height: 36px;
  object-fit: cover;/* giữ đúng tỉ lệ của ảnh và lấp đầy khung hình*/
  border-radius: 999px;
  border: 1px solid #ccc; /* Một đường viền màu xám nhạt */
  box-sizing: border-box;
  transition: border-color 0.5s ease;;
}
.user-chat:hover .avatar-navchat{
  border-color: #ae34db;
}

.chat {
  // flex: 2;
  width: 100%;
  
  .chatInfo {
    height: 60px;
    // margin-top: 32px;
    background-color: #5d5b8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray;
  }
  .chatAvatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:12px;
  }
  .chatAvatar .avatar-chat{
    width: 40px;
    height: 40px;
  }
  .chatAvatar img{
    width: 100%;
    height: 40px;
    border-radius: 999px;
    border: 1px solid #ccc; /* Một đường viền màu xám nhạt */
    box-sizing: border-box;
  }
  
 
  .chatIcons {
    display: flex;
    gap: 10px;

    img {
      height: 24px;
      cursor: pointer;
    }
  }
}

.flex-dots{
  display: flex;
  flex-direction: row;
  align-items: flex-start;

}
.dot{
  font-weight: 700;
  color: rgb(255, 168, 47);
  font-size: 1.2rem;
  padding: 3px;
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px lightblue;
  animation: bounce 1s infinite ease-in-out;
}

.dot:nth-child(1){
  animation-delay: 0s;
}

.dot:nth-child(2){
  animation-delay: 0.2s;
}

.dot:nth-child(3){
  animation-delay: 0.4s;
}
@keyframes bounce {
  0%, 80%, 100% {
    transform: translateY(0);
  }
  40%{
    transform: translateY(-5px);
  }
  
}
.messages {
  display: flex;
  flex-direction: column;
  height: calc(104% - 130px);
  overflow: scroll;
  background-color: #370661;
  background-image: linear-gradient(90deg, #370661 0%, #4e15c4 100%);
  




  .message {

    display: flex;
    padding: 12px 12px;
    width: 100%;
    gap: 20px;

    .messageInfo {
      display: flex;
      flex-direction: column;
      color: gray;
      font-weight: 300;
      font-size: 12px;
      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
       
        border: 1px solid #ccc; /* Một đường viền màu xám nhạt */
        box-sizing: border-box;
        
        
      }
    }
  
    .messageContent {
      max-width: 100%;
      display: flex;
      flex-direction: column;

      p {
        background-color: white;
        padding: 4px 16px;
        border-radius: 0px 10px 10px 10px;
        max-width: max-content;
        font-size: 14px;
        margin: 12px 4px;
      }

      .file-content .file-non-image{
       
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
        background-color: #fff;
        gap: 5px;
        max-width: 100%;
    
      }
      .file-content .file-non-image a{
        text-decoration: none;
        color: #1c1717;
        font-size: 0.9em;
        font-weight: bold;
       
      }

      .time-send{
        color: #Fff;
        justify-content: flex-start;
      }


    }

    // .owner {
    //   flex-direction: row-reverse;

    //   .messageContent {
    //     align-items: flex-end;
    //     p {
    //       background-color: #8da4f1;
    //       color: white;
    //       border-radius: 10px 0px 10px 10px;
    //     }
    //   }
    // }
  }
}


.messages{
  .owner {
    display: flex;
    gap: 20px;
    padding: 12px 12px;

    .messageInfo {
      display: flex;
      flex-direction: column;
      color: gray;
      font-weight: 300;
      font-size: 12px;
      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid #ccc; /* Một đường viền màu xám nhạt */
        box-sizing: border-box;
      }
    }
    .messageContent {
      max-width: 80%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 4px 16px;
        border-radius: 0px 10px 10px 10px;
        max-width: max-content;
        font-size: 14px;
        margin: 12px 4px;
      }

      

      // img {
      //   width: 50%;
      // }
    }
  }
.owner {
  flex-direction: row-reverse;
  // padding: 12px 12px;
  .messageContent {
    align-items: flex-end;
    p {
      display: flex;
      flex-direction: column;

      background-color: #8da4f1;
      color: white;
      border-radius: 10px 0px 10px 10px;
    }

    .file-content .file-non-image{
      display: flex;
      text-decoration: none;
      padding: 5px;
      border-radius: 5px;
      background-color: #667cc7;
      gap: 5px;
    }
    .file-content .file-non-image a{
      text-decoration: none;
      color: #fff;
      font-size: 0.9em;
      font-weight: bold;
    }
  }
}
}

.time-send{
  display: flex;
  justify-content: flex-end;
  opacity: 50%;
  font-size: 10px;
  color: #Fff;
}
.input {
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  
  .file-send{
    display: flex;
    width: 70%;
    margin-right: 10px;
    border-style: solid;
    padding: 5px;
    
    .file-send-delete{
      padding: 4px;
      border-radius: 25%;
      background-color: #594f99;
      color: #FFF;
      cursor: pointer;
    }
  }
  input {
    width: 100%;
    border: none;
    outline: none;
    color: #2f2d52;
    font-size: 14px;

    &::placeholder {
      color: lightgray;
    }
  }

  .send {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      font-weight: 700;
      height: 18px;
      cursor: pointer;
    }

    button {
      border: none;
      border-radius: 16px;
      padding: 4px 12px;
      color: white;
      background-color: #8da4f1;
      cursor: pointer;
    }
  }
}




.music-page{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  /* min-height: 100vh; */
  /* background: linear-gradient(var(--pink) 0%, var(--violet) 100%); */
}
.wrapper{
  width: 420px;
  padding: 25px 30px;
  overflow: hidden;
  // position: relative;
  border-radius: 15px;
  background: var(--white);
  box-shadow: 0px 6px 15px var(--lightbshadow);
  overflow: hidden;
  
  justify-content: center;
  overflow: scroll;
  height: 456px;
}
.wrapper i{
  cursor: pointer;
}
.top-bar, .progress-area .song-timer, 
.function-playmusic, .music-list .header, .music-list ul li,.info-playmusic{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar i{
  font-size: 15px;
  color: var(--lightblack);
}
.top-bar i:first-child{
  margin-left: -7px;
}
.top-bar span{
  font-size: 18px;
  margin-left: -3px;
  color: var(--lightblack);
}
.info-playmusic{
  background-color: #27293e;
  // border: 1px #151d37 solid;
  border-radius: 16px;
  padding: 10px 10px;
  box-shadow: 1px 6px 10px #667cc7;
}
.info-playmusic ul{
  display: flex;
  gap: 12px;
  margin: 0 0;
}
.info-playmusic h2{
  margin: 0 0;
  width: 290px;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer; 
}
.info-playmusic h2:hover{
  text-decoration: underline;
}
.info-playmusic p{
  color: white;
  opacity: 0.5;
  font-size: 10px;
  margin: 0 0;
}
.img-area{
  display: flex;
  align-items: center ;
  position: relative;
  width: 500px;
  
  height: 200px;
  overflow: hidden;
  margin-top: 25px;
  margin-left: 20px;
  border-radius: 15px;
  box-shadow: 0px 6px 12px var(--lightbshadow);
}
.img-area img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.body-playmusic{
  height: auto;
 
}
.icon-invideo{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // z-index: 1;
  top: 30%;
  right: 0;
  width: 12px;
  margin: 0 25px;
  cursor: pointer;
}
.icon-invideo li{
  font-size: 20px;
  cursor: pointer;

}
.icon-invideo li:nth-child(2),
.icon-invideo li:nth-child(4){
  font-size: 10px;
  cursor: pointer;

}

.song-details{
  text-align: center;
  margin: 30px 0;
}
.song-details p{
  color: var(--lightblack);
}
.song-details .name{
  font-size: 21px;
}
.song-details .artist{
  font-size: 18px;
  opacity: 0.9;
  line-height: 35px;
}
.progress-area{
  height: 6px;
  width: 100%;
  border-radius: 50px;
  background: #f0f0f0;
  cursor: pointer;
}

.progress-bar::before{
  content: "";
  // position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before{
  opacity: 1;
  pointer-events: auto;
}
.progress-area .song-timer{
  margin-top: 2px;
}
.song-timer span{
  margin-top: 12px;
  font-size: 13px;
  color: var(--lightblack);
}
.function-playmusic{
  width: 320px;
  margin: 10px 11px 7px 52px
}
.function-playmusic i{
  font-size: 15px;
  // user-select: none;
  // background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
  background-clip: text;
  // -webkit-background-clip: text;
}
.function-playmusic i:nth-child(2),
.function-playmusic i:nth-child(4){
  font-size: 20px;
}
.function-playmusic #prev{
  margin-right: -13px;
}
.function-playmusic #next{
  margin-left: -13px;
}
.function-playmusic .play-pause{
  height: 54px;
  width: 100px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
  box-shadow: 0px 0px 5px var(--pink);
}
.play-pause::before{
  position: absolute;
  content: "";
  height: 43px;
  width: 43px;
  border-radius: inherit;
  background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}
.play-pause i{
  font-size: 32px;
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  background: inherit;
  background-clip: text;
}







// -------------------Indivi

.topIndividual{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 12px;
}
.headerIndividual{
  display: flex;
  justify-content: center;
}
.topIndividual i{
  font-size: 16px;
  color: white;
  padding: 4px 4px;
  cursor: pointer;

}
.topIndividual span{
  font-size: 16px;
  color: white;
  padding: 4px 4px;
  margin-left: 12px;
  font-weight: 600;
}
.topIndividual button{
  background-color: #594f99;
  padding: 4px 8px;
  border-radius: 999px;
  border: 0;
  cursor: pointer;
}
.Individual{
  height: 464px;
  overflow: scroll;

}
.imgIndividual{
  position: relative;
  width: 508px;
  height: 329px;
  overflow: hidden;
  margin-top: 25px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  box-shadow: 0px 6px 12px var(--lightbshadow);
  border-bottom: 4px solid #2C2F48;
}

.imgIndividual .coverImage{
  width: 100%;
  height: 180px;
  border-radius: 16px;

  object-fit: cover;
}

.imgIndividual .avatar{
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 38%;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 999px;
  margin: 0 20px;
  border: 4px #858798 solid;
}
.avatar img{
  width: 100%;
  height: 100%;
  border-radius: 999px;

  object-fit: cover;
}
.imgIndividual .icon-fixed{
  position: absolute;
  font-size: 16px;
  color: #fff;
  top: 40%;
  right: 5%;
  padding: 4px 4px;
  background-color: #39373d;
  border-radius: 999px;
  border: 2px #909094 solid;
  cursor: pointer;
}
.imgIndividual .avatar>i{
  position: absolute;
  font-size: 16px;
  color: #fff;
  top: 75%;
  right: 0;
  padding: 4px 4px;
  background-color: #39373d;
  border-radius: 999px;
  border: 2px #909094 solid;
  cursor: pointer;
}
.infoIndividual{
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  bottom: 0;
  top:70%;
  left: 0;
  width: 100%;
  height: 100px;
  
}
.infoIndividual h2{
  color: white;
  font-size: 16px;
}
.infoIndividual p{
  color: white;
  font-size: 12px;
}
.bodyIndividual{
  margin: 0 24px;
}
.bodyIndividual ul{
  display: flex;
}
.bodyIndividual ul li{
  margin: 0 12px;
}
.bodyIndividual ul li:nth-child(1){
  margin: 0 12px;
  border-bottom: 2px #909094 solid;
}
.bodyIndividual ul li a{
  color: white;
  padding: 4px 4px;
  font-size: 16px;


}
.form-postIndividual{
  border-top: 1px solid #2C2F48;
  border-bottom: 1px solid #2C2F48;
  margin-bottom: 12px;
  margin-top: 20px;
}
.form-postIndividual .sub-header{
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}
.navBodyIndividual{
  margin: 12px 12px;
}
.form-postIndividual .sub-header .desc{
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}
.form-postIndividual .sub-header .desc p{
  margin: 0;
  width: 320px;
  margin-top: 6px;
  font-size: 12px;
}
.form-postIndividual .sub-header .desc span{
  margin: 0;
  width: 320px;
  margin-top: 6px;
  font-size: 8px;
  opacity: 0.5;
}
.form-postIndividual .sub-header i{
  color: white;
  margin-left: 34px;
  margin-top: 2px;
  font-size: 16px;
  cursor: pointer;

}
.icon-avatar{
  width: 40px;
  height: 40px;
  border-radius: 999px;
  margin: 0 0;
  margin-right: 4px;
  // padding: 5px 5px;
  cursor: pointer;

}
.icon-avatar img{
  width: 100%;
  height: 40px;
  object-fit: cover;
  border-radius: 999px;
  
}
.content-postIndiviual p{
  margin: 4px 12px;
  color: #fff;
  font-size: 14px;

}
.CreatPost{
  margin: 10px 15px;
}
.headerCreatPost{
  display: flex;
  align-items: center;
}
.headerCreatPost .desc p{
  margin: 4px 0px;
  font-size: 15px;
}
.headerCreatPost .desc span{
  margin: 4px 0px;
  font-size: 12px;
}
.bodyCreatPost{
  height: 100%;
}
.sub-desc{
  color: #Fff;
  font-size: 12px;
  margin: 4px 2px;
}
.inputTitlePost{
  width: 436px;
  color:#fff;
  height:22px;
  font-size: 14px;
  border: 0px solid #594f99;
  border-bottom: 1px solid #594f99;
  font-weight: 500;
  padding: 5px 5px;
  margin: 6px 0;
  background-color: #1D203E;
  outline: none;
}
.inputPost{
  min-width: 96%;
  height: 80px;
  font-size: 12px;
  // background-color: #2C2F48;
  color: #fff;
  padding: 8px 4px;
  overflow: scroll;
  outline: none;
  border-bottom: 1px solid #594f99;

}
.buttonFiles ul{
  display: flex;
}
.buttonFiles ul li{
  padding: 5px 5px;
  background-color: #594f99;
  margin: 5px 5px;
  border-radius: 999px;
  font-size: 12px;
  cursor: pointer;
}
.buttonFiles .icon-fixed-2{
  font-size: 8px;
  margin:0px 4px;
}

.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  animation: modalFadein ease 0.8s;
  z-index: 1;
}
.modal{
  display: none;
}
.open{
  display: flex;
}
.modal_overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 1000vh;
  background-color: rgb(0, 0 ,0,0.4);
  z-index: 1;

}
.modal_body{
  position: relative;
  width: 600px;
  height: 400px;
  background-color: #fff;
  margin: auto;
  border-radius: 12px;
  z-index: 1;
  overflow: scroll;
}
.inputCommentPost{
  width: 486px;
  color:black;
  height:22px;
  font-size: 14px;
  border: 0px solid #594f99;
  border-bottom: 0.5px solid #594f99 ;
  font-weight: 500;
  padding: 5px 5px;
  margin: 6px 6px;
  background-color: #1D203E;
  outline: none;
  opacity: 1;
}
.other-comment{
  // background-color: #ddddf7;
  padding: 10px;
  height: 310px;
  overflow: hidden;
  overflow: scroll;
}
.formComment{
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  
}
.formComment .icon-avatar{
  width: 30px;
  height: 30px;
}
.formComment .icon-avatar img{
  height: 30px;
}
.comment{
  display: flex;
}
.commentContent{
  display: flex;

  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;

}
.commentContent p{
  font-size: 14px;
  max-width: 480px;
  margin: 5px 5px;
  background-color: #686979;
  padding: 6px 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.interactComment{
  margin-left: 70px;
}
.interactComment ul{
  display: flex;
  flex-direction: row;
  margin: 0 0;
}
.interactComment ul li{
  font-size: 12px;
  margin-top: 1px;
  margin-right: 6px;
  cursor: pointer;
}
